<tr>
  <td><a href="/" onclick="return false;" class="show-more" id="task">{{task}}</a></td>
  <td>
  	<a href="/"  onclick="return false;"  id="deleteTask" class="btn btn-info btn-sm">
    	<span class="glyphicon glyphicon-remove"></span> Remove 
    </a>
  </td>
</tr>