<th>
	<div class="input-group mb-3">
	  <input type="text" id="taskInput" class="form-control">
	  <div class="input-group-append">
	    <button class="btn btn-outline-secondary addTask" type="button">Add</button>
	  </div>
	</div>
</th>